#text_1{
    color: red;
}
#text_2{
    color: orange;
}
#text_3{
    color:yellow;
}
#text_4{
    color: green;
}
#text_5{
    color: blue;
}
#text_6{
    color: indigo;
}
#text_7{
    color: purple;
}